.privacy{

    .section-title{
        letter-spacing: -0.014em;
        margin-bottom: 21px;
        text-transform: capitalize;
        line-height: 1.2;
    }

    .paragraf{
        line-height: 1.229;
        margin-bottom: 22px;
        font-weight: 400;
        font-size: 18px;
        color: #121212;

        a{
            color: #121212;
        }
    }
}