.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.product-info__slider-item {
  height: 100%;
  display: flex !important;
}

.product-info__slider-item img {
  margin: auto;
  display: block;
}

.product-info__image .slick-slide>div {
  height: 100% !important;
}

.product-image video {
  width: 900px;
  height: auto;
}

.product-info__cost-old {
  text-decoration: line-through;
  opacity: 0.5;
  margin-left: 10px;
}

.product-info__variants li {
  padding: 0px;
  width: 112px;
}

.product-info__wrapper {
  grid-template-columns: 400px 460px;
  grid-column-gap: 110px;
}

.product-info__variants li a {
  padding: 11px;
  display: flex;
  height: 100%;
}

.add2basket-success {
  margin-bottom: 30px;
}

.add2basket-success span {
  background-color: #ff662c;
  padding: 8px 20px;
  font-size: 14px;
  color: white;
  border-radius: 16px;
}

.cart-product__image img {
  max-height: 80%;
}

.cart-list .cart-product {
  border-bottom: 1px solid #f9f9f9;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.cart-list .cart-product:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.checkout-summary__product {
  margin-bottom: 10px;
}

.checkout-summary__product:last-child {
  margin-bottom: 0;
}

.checkout-summary__product-image img {
  max-height: 85%;
}

.checkout-section {}

.checkout-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.checkout-section__list label {
  display: inline-block;
  width: 130px;
}

.checkout-section__list input {
  display: none;
}

.checkout-section__list label div {
  height: 75px;
  border: 1px solid #ccd1d6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-section__list label {
  cursor: pointer;
  margin-bottom: 10px;
}

.checkout-section__list p {
  font-weight: 400;
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  color: #000;
  line-height: 1.2;
}

.checkout-section__list label div img {
  max-width: 98%;
  max-height: 98%;
}

.checkout-section__list label:hover div,
.checkout-section__list label:has(input:checked) div {
  border-color: #ff662c;
}

.checkout-section h2 {
  margin-bottom: 30px;
}

.checkout-delivery {
  margin-bottom: 42px;
}

.story-video,
.story-video * {
  text-align: center;
}

.story-video video {
  width: 950px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.form-result {
  background-color: #ff662c;
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-top: -10px;
  text-align: center;
}

.header .deactive a {
  color: #8b8b8b;
}

.product-info__notification-item:hover,
button:hover {
  cursor: pointer;
}

.where-map__content-list input {
  color: black;
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .form .circle-button {
    overflow-wrap: break-word;
    line-height: 1;
    padding: 0px 10px;
  }
}

@media (min-width: 970px) {
  .text-banner .grid {
    grid-column-gap: 20px;
  }
}

.account-orders__item-label {
  color: rgba(18, 18, 18, 0.6);
}

.catalog-list__filter-popup .radio label:hover,
.catalog-list__filter-item:hover {
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader svg {
  width: 50px;
  height: 50px;
}

@keyframes infinite-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader svg {
  animation: infinite-rotate 4.5s linear infinite;
}

.slider-banner .slider-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  background-color: #000;
}

.slider-video video {
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 100px;
}

@media (min-width: 1420px) {
  .slider-video video {
    object-fit: contain;
  }
}

.slider-banner {
  position: relative;
  overflow: hidden;
  height: 900px;
}

@media (max-width: 970px) {
  .slider-banner {
    height: 800px;
  }
}

.address-input {
  margin-bottom: 47px;
  position: relative;
}

.address-input label {
  margin-bottom: 0px;
}

.address-input>div {
  position: absolute;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: white;
  z-index: 10;
  overflow-y: auto;
  max-height: 200px;
}

.address-input>div div {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #f9f9f9;
}

.address-input>div div:last-child {
  border-bottom: none;
}

.address-input>div div:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.header .header-left svg path,
.header,
.header a {
  transition: all 0.3s ease;
}

.header.active {
  background-color: white;
}

.header.active a {
  color: black;
}

.header.active .header-right .c1 svg path,
.header.active .header-right .c2 svg path,
.header.active .header-left svg path {
  stroke: black !important;
}

.header.active .header-right .c3 svg path {
  fill: black !important;
}

.catalog-list__filter-popup.active {
  z-index: 9;
}

#bx-soa-delivery .bx-soa-pp-desc-container {
  display: block !important;
}

.bx-sls .bx-ui-sls-clear {
  z-index: 100;
}

.catalog-list__filter-popup__btns button:disabled {
  background-color: #8b8b8b;
}

